name: Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      HUGO_CACHEDIR: /tmp/hugo_cache
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Disable git quotePath
        run: git config core.quotePath false

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Build with hugo
        run: hugo --minify --gc
        env:
          HUGO_ENV: production
          HUGO_ENVIRONMENT: production

      - name: rsync deployments
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzr --delete
          path: public/
          remote_path: /var/www/blog 
          remote_host: ${{ secrets.SSH_HOST }} 
          remote_port: 22 
          remote_user: ${{ secrets.SSH_USER }} 
          remote_key: ${{ secrets.SSH_KEY }}