name: Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Disable git quotePath
        run: git config core.quotePath false

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "latest"
          extended: true

      - name: Build with hugo
        run: hugo --minify --gc
        env:
          HUGO_ENV: production
          HUGO_ENVIRONMENT: production

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          ARGS: -az --delete --no-perms --info=progress2 --compress-choice=lz4
          SOURCE: public/
          TARGET: /var/www/blog
          REMOTE_USER: ${{ secrets.SSH_USER }}
          REMOTE_HOST: ${{ secrets.SSH_HOST }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
